body {
  font-family: "Oswald";
  background: #f3f3f3;
  overflow-x: hidden;
}
header {
  text-align: center;
}
header h1 {
  color: #e45454;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.col {
  width: 30%;
  margin-bottom: 2%;
}
.container {
  width: 98%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 30px auto;
}
.product-face span {
  font-family: none;
}
.product-box {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #fff;
  padding: 15px;
  text-align: center;
}
.product-face {
  margin: 0 auto 20px;
  border-bottom: 1px solid #dadada;
  padding: 0 0 10px;
  min-height: 60px;
  text-align: center;
}
span.content-title {
  font-weight: bold;
  width: 35px;
  display: inline-block;
  padding-right: 10px;
  color: #e45454;
}
.product-content p {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
ul.sort-group {
  width: auto;
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
}
.sort-div .content-title {
  width: auto;
}
.sort-div {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #fff;
  padding: 15px;
  margin: 0 auto 20px;
  display: flex;
}
li.each-sort {
  float: right;
  margin: 0 10px;
  border: 1px solid #c7c7c7;
  padding: 0px 20px;
  border-radius: 3px;
  cursor: pointer;
  width: 20px;
  text-align: center;
}
li.each-sort.activeSort {
  background: #e03c3c;
  color: white;
  border: none;
}
.loading {
  text-align: center;
  color: #e45454db;
  font-size: 30px;
}
.loading span {
  width: 100%;
  display: block;
}
.ad-img {
  text-align: center;
}
.ad-img .ad {
  width: 100%;
}
/* Responsive */

@media all and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media all and (max-width: 992px) {
  .container {
    max-width: 960px;
  }
  .col {
    width: 45%;
  }
}

@media all and (max-width: 768px) {
  .container {
    max-width: 720px;
  }
  .col {
    width: 43%;
  }
}
@media all and (max-width: 576px) {
  .container {
    max-width: 540px;
  }
  .col {
    width: 100%;
  }
}
@media all and (max-width: 320px) {
  .container {
    max-width: 294x;
  }
  .sort-div .content-title {
    width: 100%;
    display: block;
    margin: 0 0 10px;
  }
  ul.sort-group {
    width: 100%;
  }
  li.each-sort {
    float: none;
    margin: 10px auto;
  }
  .sort-div {
    text-align: center;
  }
}
